body {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, rgb(0, 82, 212), rgb(67, 100, 247));
  line-height: 1.4;
  font-size: 19px;
}


.overview {
  background: rgba(0, 0, 0, 0.05);
  padding: 50px;
}

.link {
  border: 6px;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  color: inherit;
  background-color: rgb(68, 146, 234);
  font-weight: bold;
}

.section {
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 500px) {
  body {
    font-size: 18px;
  }

  .section, .overview {
    padding-left: 35px;
  }

  .projects-container img {
    width: 330px;
  }
}